<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Clientes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link type="image/png" sizes="32x32" rel="icon" href="/icons8-cliente-de-empresa-32.png">
    </head>
    <body>
        <div class="container">
        <h1 class="display-5 text-center">Lista de Clientes</h1>
        <table class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Direccion</th>
                <th>Condicion Impositiva</th>
                <th>Tipo Documento</th>
                <th>Numero Documento</th>
            </tr>
            <tr th:each="client, rowStat : ${clients}"  th:class="${rowStat.odd} ? 'odd' : 'even'">
                <td th:text="${client.id}"></td>
                <td th:text="${client.address}"></td>
                <td th:text="${client.taxCondition}"></td>
                <td th:text="${client.dniType}"></td>
                <td th:text="${client.dni}"></td>
            </tr>
        </table>
        <br/>
        <a href="/" class="btn btn-primary btn-lg">Volver atrás</a>
        </div>
    </body>
</html>
